<strong>Recuperando senha</strong>

<p>Uma solicitação de recuperação de senha foi realizada para o e-mail({{ email }}).
Se você não foi o autor dessa requisição é recomendavel voce trocar a sua senha
</p>

<p>Para contuar com a recuperação se senha use o token {{ token }} ou click no link abaixo </p>

<a href="{{ link }}">Criar nova senha</a>
